{% extends 'base.html.twig' %}
{% block body %}
<br>
<h1>horarios de la BBDD</h1>
<table border="1">
  <tr>
    <th>11111</th>
    <th>11111</th>
    <th>11111</th>
  </tr>
  <tr>
    <td>aaaaaa</td>
    <td>bbbbbbbbb</td>
    <td>cccccc</td>
  </tr>
</table><br>
<a href="index2">Volver</a>
{% endblock %}
