{% extends '::base.html.twig' %}
{% block body %}
<h2>Cervecitas</h2>
<div class="w3-container">

  <div class="w3-card-4" style="width:5px height:5px;" >
    <p>Paulaner</p>
    <img src="{{ asset('img/paulaner.jpg') }}" alt="Norway">
  <div>

  <div class="w3-card-4" style="width:5px height:5px;" >
    <p>Llaut Segorbe</p>
    <img src="{{ asset('img/llaut.jpg') }}" alt="Norway">
  <div>

</div>
{% endblock %}
