{% extends "base.html.twig" %}

{% block body %}

<div class"row">
	<div class="w3-container">

		{% for fila in result %}

		  {{ fila.nombre }}

		{% endfor %}

	</div>

</div>
<br><a href="/form">Volver</a>
{% endblock %}

