
{% block body %}
	<h1>Devolviendo cervezas,recibe parametro y recupera,</h1>
	<p>ampliar if controller si no recibe parametro</p>
    <p>{{ cervecita.nombre }}</p>
<p>Usando dump</p>
    {{ dump(cervecita) }}
    <a href="all">Volver</a>
{% endblock %}